.box {
    width: 80%;
    
    border: 1px solid black;
    padding: 9.92%;
    
    text-align: center;
    font-size: 300%;
    font-style: Verdana ;
   
     
  }
  .box2{
    width: 40%;
   
    border: 1px solid black;
    padding: 1%;
    /* margin: 10%; */
   
    
    
  }
  
  .box3{
    width: 70%;
    
    border: 1px solid black;
    padding: 1%;
   
 }
  
  p{ border : 2px solid rgb(255, 255, 255);
    padding: 3px;
    line-height: 1;
  }
.container {
  display: flex;
  flex-direction: row;

}

.left-section {
  border-bottom: 4px dashed rgb(0, 0, 0);
}

.right-section {
  border-bottom: 4px dashed rgb(0, 0, 0);
}
